---
// @ts-nocheck

import { API_TM } from "../scripts/ticketmaster.js";
const locaties = await API_TM();

import SideBar from "../components/SideBar.astro";
import MainLayout from "../layout.astro/MainLayout.astro";

---

<MainLayout title="API Events">
		<SideBar />	
		<div id="map"></div>

		<script type="module" define:vars={{ locaties }}>
			import L from "https://esm.sh/leaflet@1.9.4";

// Nederland als startpunt
const netherlandsBounds = [
  [50.5, 3.0],  // Zuidwest (onder links)
  [53.7, 7.2]   // Noordoost (boven rechts)
];

const map = L.map('map' , {
  maxBounds: netherlandsBounds,
  maxBoundsViscosity: 1.0
}).setView([52.37, 4.89], 7);

// Kaart 
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  minZoom: 2,
	maxZoom: 20, 
}).addTo(map);

map.setMinZoom(7);


locaties.forEach(locatie => {
	// console.log(locatie);

	const eventid = locatie.id; // ID van het event
	console.log(eventid);

	const marker = L.marker([locatie.lat, locatie.lng]).addTo(map);

	marker.on('click', () => {

		// Verberg de standaard tekst
        document.getElementById("eventStandaard").style.display = "none"; 
		document.getElementById("favButton").style.display = "block";
		document.getElementById("allDetails").style.display = "block";
		document.getElementById("allDetails").href = `/detailPagina?eventId=${locatie.id}`;

        // Vul alle velden in
        document.getElementById("eventTitle").textContent = locatie.naam;
        document.getElementById("eventGenre").textContent = locatie.genre;
        document.getElementById("eventVenue").textContent = locatie.venue;
        document.getElementById("eventStad").textContent = locatie.stad;
        document.getElementById("eventAdres").textContent = locatie.adres;
        document.getElementById("eventDatum").textContent = locatie.datum;
        document.getElementById("eventTijd").textContent = locatie.tijd ? locatie.tijd.slice(0, 5) : "N/A"; // "20:00" ipv "20:00:00"

        // Afbeelding
        if (locatie.image) {
            document.getElementById("eventImage").src = locatie.image;
			document.getElementById("eventImage").style.display = "block";
		}

        // Ticket link
        document.getElementById("eventUrl").href = locatie.url;
        document.getElementById("eventUrl").style.display = "block";
	})
});


// --------------------------------------
// Geolocatie van de gebruiker
// --------------------------------------

// bron: https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/getCurrentPosition
// bron2;https://www.w3schools.com/html/html5_geolocation.asp#:~:text=The%20Geolocation%20API%20is%20accessed,information%20(for%20example%20GPS).
function userLocation() {
	if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition((position) => {
			const lat = position.coords.latitude;
			const lng = position.coords.longitude;

			const userMarker = L.marker([lat, lng]).addTo(map);
			userMarker.bindPopup("Jij bent hier 📍").openPopup();
			map.setView([lat, lng], 12);
		});
	} else {
		console.log("Geolocation werkt niet in deze browser");
	}
};

userLocation();





		</script>

</MainLayout>

